<div class="side-bar_header">
  <div class="side-bar_header_name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="making-chat-button">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="side-bar_chat-list">
  <div class="chat-list_box">
    <div class="chat-list_text">
      <a href="#">techroom1<a>
    </div>
  </div>
  <div class="chat-list_box">
    <div class="chat-list_text">
      <a href="#">techroom2<a>
    </div>
  </div>
  <div class="chat-list_box">
    <div class="chat-list_text">
      <a href="#">techroom3<a>
    </div>
  </div>
  <div class="chat-list_box">
    <div class="chat-list_text">
      <a href="#">techroom3<a>
    </div>
  </div>
  <div class="chat-list_box">
    <div class="chat-list_text">
      <a href="#">techroom3<a>
    </div>
  </div>
  <div class="chat-list_box">
    <div class="chat-list_text">
      <a href="#">techroom3<a>
    </div>
  </div>
  <div class="chat-list_box">
    <div class="chat-list_text">
      <a href="#">techroom3<a>
    </div>
  </div>
  <div class="chat-list_box">
    <div class="chat-list_text">
      <a href="#">techroom3<a>
    </div>
  </div>
  <div class="chat-list_box">
    <div class="chat-list_text">
      <a href="#">techroom3<a>
    </div>
  </div>
  <div class="chat-list_box">
    <div class="chat-list_text">
      <a href="#">techroom3<a>
    </div>
  </div>
  <div class="chat-list_box">
    <div class="chat-list_text">
      <a href="#">techroom3<a>
    </div>
  </div>
  <div class="chat-list_box">
    <div class="chat-list_text">
      <a href="#">techroom3<a>
    </div>
  </div>
</div>