.wrapper {
  display: flex;
}

.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

/* サイドバー_ヘッダー */

.side-bar_header {
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-bar_header_name a {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.making-chat-button a {
  font-size: 10px;
  padding: 14px;
  border: solid 1px lightblue;
  color: deepskyblue;
  text-align: center;
  text-decoration: none;
}


/* サイドバー　チャットリスト */


.side-bar_chat-list {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.chat-list_box {
  padding: 20px 0px 40px;
}

.chat-list_text a {
  color: white;
  text-decoration: none;
}

/* チャットエリア */

/* チャットヘッダー */

.chat_header {
  height: 100px;
  background-color: #FFFFFF;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-title {
  font-size: 24px;
  color: #333;
}

.ending-chat-button {
  font-size: 10px;
  padding: 20px;
  border: solid 1px darkred;
  text-align: center;
}

.ending-chat-button a {
  text-decoration: none;
  color: darkred;
}


/* メッセージエリア */


.chat_message-area {
  height: calc(100vh - 190px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
  overflow: scroll;
}

.chat_message-box {
  margin-bottom: 40px;
}

.chat_message_l1 {
  display: flex;
  padding: 10px 0 0 0;
}

.chat_message-area_name {
  font-size: 16px;
  color: #434a54;
  margin-right: 10px;
}

.chat_message-area_date {
  font-size: 12px;
  color: #999;
}

.chat_message-area_comment {
  font-size: 14px;
  color: #434A54;
  margin-top: 10px;
}

/* フォーム送信エリア */


.chat_send-area {
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  padding: 0 20px;
  line-height: 50px;
  margin-left: 15px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}